{% extends "base.html" %}

{% block body %}
    {% if current_user.email_username %}
        <div class="base-container-centered-content">
            <a class="create-post-button" href="{{ url_for('insert_post') }}">Create a new post</a>
        </div>
    {% else %}
        <div class="base-container-centered-content">
            <p>Please login to create a new post</p>
        </div>
    {% endif %}
    {% if posts %}
        {% for post in posts %}
            <div class="blog-container">
                <p style="font-weight: bold; font-size: 25px;">{{ post.title }}</p>
                <p style="font-size: 14px;">Author : {{ post.user.email_username }}</p><!-- here user is the backref -->
                <p style="font-weight: 300;">{{ post.content }}</p>
                <hr>
                <p style="font-weight: 200; font-size: 14px;">Date submitted : {{ post.date_posted }}</p>
            </div>
        {% endfor %}
    {% else %}
        <div class="blog-container">
            <p>There are no posts to show</p>
        </div>
    {% endif %}
{% endblock %}