{% extends "base.html" %}

{% block body %}
    <main>
        <div class="base-container" style="margin-top: 35px;">
            <p class="login-title-label">Login to your account</p>
            <form method="POST" action="{{ url_for('login') }}">
                {{ form.hidden_tag() }} <!-- This line is needed for security reasons -->
                <div class="register-grid">
                    {{ form.email_username.label(class="login-label") }}
                    {{ form.email_username(class="login-input") }}
                    {{ form.password.label(class="login-label") }}
                    {{ form.password(class="login-input") }}
                </div>
                <div class="remember-login-container">
                    {{ form.remember(class="remember-login-label") }}
                    {{ form.remember.label(class="remember-login-label") }}
                </div>
                <div class="base-h-box" style="margin-left: 20%; margin-right: auto;">
                    {{ form.submit(class="register-login-button") }}
                    <small class="forgot-password-container" style="margin-top: 50px;">
                        <a href="{{ url_for('password_reset') }}">Forgot password?</a>
                    </small>
                </div>
                <div class>

                </div>
            </form>
            <hr>
            <div class="account-already-container">
                <p>Need an account? <a href="{{ url_for('register') }}" class="account-already-button">Register now!</a></p>
            </div>
        </div>
    </main>
{% endblock %}