{% extends "base.html" %}

{% block body %}
    <div class="base-container" style="margin-top: 35px;">
        <p class="login-title-label">Password reset request</p>
        <form method="POST" action="{{ url_for('password_reset_initial') }}">
            {{ form.hidden_tag() }} <!-- This line is needed for security reasons -->
            <div class="register-grid">
                {{ form.email.label(class="login-label") }}
                {{ form.email(class="login-input") }}
            </div>
            <div class="base-h-box" style="margin-left: 20%; margin-right: auto;">
                {{ form.submit(class="register-login-button") }}
            </div>
        </form>
    </div>
{% endblock %}