{% extends "base.html" %}

{% block body %}
    <div class="base-container-pop-up">
        <p class="email-username-label">{{ current_user.email_username }}</p>
        <img src="{{ current_user.image_file }}" width="100">
        <hr>
        <p>Edit user info : </p>
        <form method="POST" action="{{ url_for('user') }}">
            {{ form.hidden_tag() }}
            <div class="base-v-box">
                <div class="base-h-box">
                    {{ form.email_username.label(class="edit-input-label") }}
                    {{ form.email_username(class="edit-input") }}
                </div>
                {{ form.submit(class="update-user-button") }}
            </div>
        </form>
    </div>


{% endblock %}