{% extends "base.html" %}

{% block body %}

    <main>
        <div class="container">
            <div class="h-box-main">

                <div class="v-box-left">
                    {% if data %}
                        <p class="current-weather-label">Current weather<br>in {{ data.get("name") }},
                        {{ data.get("sys").get("country") }}</p>
                    {% else %}
                        <p class="current-weather-label">Waiting for city name...</p>
                    {% endif %}
                    <form method="POST" action="/weather-app">
                        <input type="text" id="city-input" name="city-input" placeholder="Enter a city name"><br>
                        <button type="submit" name="event" id="city-submit">Submit</button>
                    </form>
                </div>
                <div class="v-box-right">
                    <h1>Right</h1>
                    <p>Right</p>
                    <p>Right</p><p>Right</p>
                    <p>Right</p>

                </div>

            </div>
        </div>
    </main>

{% endblock %}