{% extends "base.html" %}

{% block body %}

    <main>

        <div class="container">
            <div class="switch-bar">
              <a href="/weather-app" class="switch-tab {% if active_tab == 'current' %}active{% endif %}">Current</a>
              <a href="/weather-app" class="switch-tab {% if active_tab == 'forecast' %}active{% endif %}">Forecast</a>
            </div>
            <div class="h-box-main">

                <div class="v-box-left">

                    <p class="section-label">Current weather</p>

                    <form method="POST" action="/weather-app">
                        <input type="text" id="city-input" name="city-input" placeholder="Enter a city name"><br>
                        <button type="submit" name="event" id="city-submit">Submit</button>
                    </form>
                    {% if data %}
                        <p class="current-time-label">Local time and date in {{ geo_data[0].get("name") }},
                        {{ geo_data[0].get("country") }} : <br>{{ local_time }}</p>
                    {% else %}
                        <p class="current-time-label">No data...</p>
                    {% endif %}

                </div>
                <div class="v-box-right">

                    {% if data %}
                        <p class="current-weather-label">{{ geo_data[0].get("name") }},
                        {{ geo_data[0].get("country") }}</p><br><br>
                    {% else %}
                        <p class="current-weather-label">Waiting for city name...</p>
                    {% endif %}<br><br>

                    {% if weather_icon %}
                        <img src="{{ url_for('static', filename=weather_icon) }}" alt="{{ weather_icon }}"
                            width="80">
                    {% endif %}

                    {% if data %}
                        <p id="description-label">{{ data.get("weather")[0].get("description") }}</p>
                    {% endif %}
                    
                    <div class="h-box-data">
                        <div class="data-icon">
                            <img src="{{ url_for('static', filename='Images/temperature - minimalist.png') }}"
                            width="40" id="temp-icon">
                        </div>
                        <div class="data-content">
                            <p class="data-label">{{ temperature }} {{ temp_sign }}</p>
                        </div>
                    </div>

                    <div class="h-box-data">
                        <div class="data-icon">
                            <img src="{{ url_for('static', filename='Images/humidity.png') }}"
                            width="40" id="humidity-icon">
                        </div>
                        <div class="data-content">
                            {% if data %}
                            <p class="data-label">{{ data.get("main").get("humidity") }} %</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="h-box-data">
                        <div class="data-icon">
                            <img src="{{ url_for('static', filename='Images/pressure - minimalist.png') }}"
                            width="40" id="pressure-icon">
                        </div>
                        <div class="data-content">
                            {% if data %}
                            <p class="data-label">{{ data.get("main").get("pressure") }} hPa</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="h-box-data">
                        <div class="data-icon">
                            <img src="{{ url_for('static', filename='Images/wind - minimalist.png') }}"
                            width="40" id="wind-icon">
                        </div>
                        <div class="data-content">
                            <p class="data-label">{{ wind_speed }} {{ speed_unit }}</p>
                            <p class="wind-symbol">{{ wind_symbol }}</p>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </main>

{% endblock %}