{% extends "base.html" %}

{% block body %}
    <div class="base-container" style="margin-top: 35px;">
        <p class="base-paragraph-centered-content">Enter the new password for : {{ user.email_username }}</p>
        <form method="POST" action=""> <!-- if you leave the action blank, it will use the current route from GET request -->
            {{ form.hidden_tag() }}
            <div class="register-grid">
                {{ form.new_password.label(class="login-label") }}
                {{ form.new_password(class="login-input") }}
                {{ form.new_password_confirm.label(class="login-label") }}
                {{ form.new_password_confirm(class="login-input") }}
                {{ form.submit(class="base-button", style="margin: 35px;") }}
            </div>
        </form>
    </div>
{% endblock %}