{% extends "base.html" %}

{% block body %}
    <div class="base-container-pop-up">
        <p class="email-username-label">{{ current_user.email_username }}</p>
        <img src="{{ url_for('static', filename='Images/profile_images/' + current_user.image_file) }}"
             width="100" class="profile-picture">
        <hr>
        <p>Edit user info : </p>
        <!-- Use enctype="multipart/form-data" when sending files with form, otherwise it will fail -->
        <form method="POST" action="{{ url_for('user') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="base-v-box">
                <div class="base-h-box">
                    {{ form.email_username.label(class="edit-input-label") }}
                    {{ form.email_username(class="edit-input") }}
                </div>
                <div class="base-h-box">
                    {{ form.picture_file.label(class="picture-file-input-label") }}
                    {{ form.picture_file(class="picture-file-input") }}
                </div>
                {{ form.submit(class="update-user-button") }}
            </div>
        </form>
        <hr>
        <p>Password management : </p>
        <div class="base-h-box">
            <!-- window.location is a JS object of current browser window/tab, href is access to address bar -->
            <button onclick="window.location.href='{{ url_for('change_password') }}'" 
                    class="base-button-blue"> <!-- TODO - Complete the routes -->
                Change password
            </button>
        </div>
    </div>


{% endblock %}