{% extends "base.html" %}

{% block body %}

    <main>

        <div class="v-box-container-main">
            <div class="h-box-main-1">
                <div class="v-box-left">
                    <p class="section-label">Current weather</p>
                    <form method="POST" action="/weather-app">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input class="weather-input" type="text" id="city-input" name="city-input" placeholder="Enter a city name"><br>
                        <button type="submit" name="event" id="city-submit">Submit</button>
                    </form>
                    {% if data %}
                        <p class="current-time-label">Local time and date in {{ geo_data[0].get("name") }},
                        {{ geo_data[0].get("country") }} : <br>{{ local_time }}</p>
                    {% else %}
                        <p class="current-time-label">No data...</p>
                    {% endif %}
                </div>
                <div class="v-box-right">
                    {% if data %}
                        <p class="current-weather-label">{{ geo_data[0].get("name") }},
                        {{ geo_data[0].get("country") }}</p><br><br>
                    {% else %}
                        <p class="current-weather-label">Waiting for city name...</p>
                    {% endif %}<br><br>

                    {% if weather_icon %}
                        <img src="{{ url_for('static', filename=weather_icon) }}" alt="{{ weather_icon }}"
                            width="80" class="weather-icon-animated">
                    {% endif %}

                    {% if data %}
                        <p id="description-label">{{ data.get("weather")[0].get("description").capitalize() }}</p>
                        <p id="cloud-coverage-label">Cloud coverage : {{ data.get("clouds").get("all") }} %</p>
                    {% endif %}
                    
                    <div class="h-box-data">
                        <div class="data-icon">
                            <img src="{{ url_for('static', filename='Images/temperature - minimalist.png') }}"
                            width="40" id="temp-icon">
                        </div>
                        <div class="data-content">
                            <p class="data-label">{{ temperature }} {{ temp_sign }}</p>
                        </div>
                    </div>

                    <div class="h-box-data">
                        <div class="data-icon">
                            <img src="{{ url_for('static', filename='Images/humidity.png') }}"
                            width="40" id="humidity-icon">
                        </div>
                        <div class="data-content">
                            {% if data %}
                            <p class="data-label">{{ data.get("main").get("humidity") }} %</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="h-box-data">
                        <div class="data-icon">
                            <img src="{{ url_for('static', filename='Images/pressure - minimalist.png') }}"
                            width="40" id="pressure-icon">
                        </div>
                        <div class="data-content">
                            {% if data %}
                            <p class="data-label">{{ data.get("main").get("pressure") }} hPa</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="h-box-data">
                        <div class="data-icon">
                            <img src="{{ url_for('static', filename='Images/wind - minimalist.png') }}"
                            width="40" id="wind-icon">
                        </div>
                        <div class="data-content">
                            <p class="data-label">{{ wind_speed }} {{ speed_unit }}</p>
                            <p class="wind-symbol">{{ wind_symbol }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-box-main-2">
                <div class="sunset-sunrise-icon-container">
                    <img src="{{url_for('static', filename='Images/sunrise - minimalist.png')}}" width="100"
                     alt="sunrise" class="animated-sunrise">
                </div>
                <div class="sunset-sunrise-description-container-sunrise">
                    <p class="sunrise-sunset-label">Sunrise : {{ sunrise }}</p>
                </div>
                <div class="sunset-sunrise-description-container-sunset">
                    <p class="sunrise-sunset-label">Sunset : {{ sunset }}</p>
                </div>
            </div>
            <div class="h-box-main-3">
                <div class="uv-icon-container">
                    <img src="{{url_for('static', filename='Images/uv - minimalist.png')}}" width="80"
                     alt="uv index" class="animated-uv">
                </div>
                <div class="uv-description-container">
                    <p class="uv-label">UV index : {{ uv_index }} - {{ uv_desc }}</p>
                </div>
            </div>
            <div class="h-box-main-4">
                <div class="moon-icon-container">
                    <img src="{{ url_for('static', filename='Images/moon - minimalist.png') }}" width="70"
                     alt="moon" class="animated-moon">
                </div>
                <div class="moonrise-moonset-container">
                    <p class="moonrise-moonset-label">
                        {% if astro_data %}
                            Moonrise : {{ astro_data.get("astronomy").get("astro").get("moonrise") }}<br>
                            Moonset : {{ astro_data.get("astronomy").get("astro").get("moonset") }}
                        {% endif %}
                    </p>
                </div>
                <div class="moonphase-illumination-container">
                    <p class="moonphase-label">
                        {% if astro_data %}
                            Moon phase : {{ astro_data.get("astronomy").get("astro").get("moon_phase") }}<br>
                            Moon illumination : {{ astro_data.get("astronomy").get("astro").get("moon_illumination") }} %
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </main>

{% endblock %}